/*
  elm-hot creates an additional div wrapper around the app to make HMR possible.
  This could break styling in development mode if you are using Elm UI.

  More context in the issue:
    https://github.com/halfzebra/create-elm-app/issues/320
*/
[data-elm-hot="true"] {
  height: inherit;
}

@font-face {
  font-family: FuturiceSans;
  src: url('/public/FuturiceRegular.otf');
}

@font-face {
  font-family: FuturiceSans;
  font-weight: bold;
  src: url('/public/FuturiceBold.otf');
}

@font-face {
  font-family: FuturiceMono;
  src: url('/public/FuturiceMono.otf');
}

body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  text-align: center;
  color: #293c4b;
}

h1 {
  font-size: 30px;
}

img {
  margin: 20px 0;
  max-width: 200px;
}

.clip-circle {
  clip-path: circle(20px at center);
}

.dropdown {
  appearance: none;
  background: none;
  border: 1px solid black;
  border-radius: 5px 5px 5px 5px;
  padding: 10px;
  padding-right: 32px;
  font-family: 'FuturiceSans';
  font-size: 16px;
  font-weight: lighter;
  width: 100%;
  background-image: url('/public/angle-down-solid.svg'), linear-gradient(#ffffff, #ffffff);
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: right 10px center;
}

.dropdown:focus {
  /** "Hide" the outline, but preserve it in Windows High-Contrast mode, where box-shadows are hidden */
  outline: solid 3px transparent !important;

  /** Focus style that follows borders */
  box-shadow: 0 0 0 3px rgb(105, 171, 255);
}

.dropdown:disabled {
  border-color: rgb(191, 191, 191);
}

.dropdown optgroup {
  font-weight: lighter;
}

.dropdown option {
  font-weight: 300;
}

.truncate {
  min-width: 0;
  max-width: 180px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.truncate-field {
  text-align: left;
  padding-top: 2px;
  min-width: 0;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/** Enhanced link focus styles */
.link:focus {
  /** elm-ui hides the outlines and wins by source order, so we must use !important here */
  outline: solid 2px rgb(105, 171, 255) !important;
  outline-offset: 2px;
}

/** Ensure that elm-ui .focusable links have an outline in Windows High-Contrast mode.
  * NOTE: This relies on internals (the class name).
  * A better fix is a PR to add the outline option to elm-ui's layoutWith.
*/
.focusable:focus {
  outline: solid 3px transparent !important;
}

/** Enhanced focus style for menu.
  * Pattern: Menu button gets focused -> Something nested gets the focus style
*/
.nested-focus:focus {
  /** "Hide" the outline, but preserve it in Windows High-Contrast mode, where box-shadows are hidden */
  outline: solid 3px transparent !important;
  /** We set a box-shadow via layoutWith, which wins by source order, so we must use !important here */
  box-shadow: none !important;
}

.nested-focus:focus .nested-focus-target {
  box-shadow: 0 0 0 3px rgb(105, 171, 255);
}

.menu-circle {
  border-radius: 50%;
}

.menu-circle > img {
  border-radius: 50%;
}

.entry-edit {
  align-items: flex-start !important;
}
